@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap');
.text-header-link{
  color: tomato;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 4px;
  padding-right: 1.5em !important;
  font-family: 'Bebas Neue', cursive;
  transition: 0.5s;
}
.text-header-link:hover{
  color: rgb(242, 186, 176);
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 1.7em;
}
.intro-container{
  align-items: center;
}
.img-contain{
  border-radius: 1em;
  width: 20em;
  height: 20em;
  box-shadow: 1px 1px 70px 50px #00bdb873;
}

.text-name{
  display: block; 
  letter-spacing: 15px;
  font-size: 3em;
  color: aquamarine;
  font-family: 'Work Sans', sans-serif; 
  font-weight:bold;
  animation: letter 1.5s 900ms forwards;
  }

@keyframes letter{
  0%{
    letter-spacing: 15px;
  }
  100%{
   letter-spacing: 5px;
  }
} 



.text-description{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight:600;
}
.text-white{
  line-height: 2em;
}

.text-grid{
  grid-column-start: 1;
  grid-column-end: 3;
}
.text-aqua{
 color: aqua;
 animation: text-aqua 1s 700ms forwards ;
}
@keyframes text-aqua{
  0%{
   letter-spacing: 50px;
  }
  100%{
   letter-spacing: 4px;
  }
}
.about-text{
  font-family: 'Noto Sans', sans-serif;
  color: #c7c7c7;
  font-size: 1.2em;
  cursor: none;
  animation: about-text 1s 700ms forwards ;
}
@keyframes about-text{
  100%{
   letter-spacing: 4px;
  }
}
.icon-tag{
  display: inline-block;
  color: #fff;
  font-size: 4em;
}

.Card{
  width: 11em;
  height: 11em;
  border-radius: 1em;
  object-fit: cover;
  transition: 00.5s;
  animation: card 1.5s 1s  ease-in forwards;
}

@keyframes card{
 0%{
  opacity: 0%;
  left: 0;
 }
 25%{
  opacity: 25%;
  left: 25;
 }
 50%{
  opacity: 50%;
  left: 50;
 }
 75%{
  opacity: 75%;
  left: 75;
 }
 100%{
  opacity: 100%;
  left: 100%;
 }
}

.Card:hover{
  width: 15em;
  height: 15em;
}

.Card-center{
  width: 11rem;
  height: 11rem;
  border-radius: 1em;
  transition: 00.5s;
  animation: card-skill 1.5s 1s  ease-in forwards;
}

@keyframes card-skill{
 0%{
  opacity: 0%;
  left: 0;
 }
 25%{
  opacity: 25%;
  left: 25;
 }
 50%{
  opacity: 50%;
  left: 50;
 }
 75%{
  opacity: 75%;
  left: 75;
 }
 100%{
  opacity: 100%;
  left: 100%;
 }
}

.Card-center:hover{
  width: 15em;
  height: 15em;
}
.Card-Skill{
  width: 11em;
  height: 11em;
  object-fit: cover;
  border-radius: 1em;
  animation: card-skill 1.5s 1s  ease-in forwards;
}

@keyframes card-skill{
 0%{
  opacity: 0%;
  left: 0;
 }
 25%{
  opacity: 25%;
  left: 25;
 }
 50%{
  opacity: 50%;
  left: 50;
 }
 75%{
  opacity: 75%;
  left: 75;
 }
 100%{
  opacity: 100%;
  left: 100%;
 }
}
.card-transition{
  transition: 0.5s;
}
.card-transition:hover{
  width: 15em;
  height: 15em;
}
.card-soci-transition{
  transition: 0.5s;
  object-fit: contain;
  animation: card-soci 1.5s 1s  ease-in forwards;
}

@keyframes card-soci{
 0%{
  opacity: 0%;
  left: 0;
 }
 25%{
  opacity: 25%;
  left: 25;
 }
 50%{
  opacity: 50%;
  left: 50;
 }
 75%{
  opacity: 75%;
  left: 75;
 }
 100%{
  opacity: 100%;
  left: 100%;
 }
}

.card-soci-transition:hover{  
  width: 7em;
  height: 7em;
}
.border-radius{
  border-radius: 1em;
  border: none !important;
}
.border-soci{
  border-radius: 1.5em;
  
}
.set-center{
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.soci-icon-contain{
  margin-top: 0em;
  display: flex;
  height: 7em;
  width: 100%;
  justify-content: center;
}

.icon-soci{
  width: 5em;
  height: 5em;
  border-radius: 2em;
}

.contact-size{
  width: 100%;
  height: 4em;
  border-radius: 0.7em;
  margin-bottom: 1em;
  background-color: aqua;
}

.contact-heading{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-links{
  text-decoration: none;
  color: #8e8e8e;
  font-weight: bold;
  outline: none;
  font-size: 1.5em;
  transition: 400ms;
}
.contact-links:hover{
 color: #c7c7c7;
 text-decoration: none;
 font-size: 20px;
}
.contact-text{
  font-weight: bold;
  color: aqua;
}
.form-input{
  width: 100%;
  height: 45px;
  border-radius: 0.5em;
  padding-left: 1em;
  font-weight: bold;
  border:none;
  outline: none;
  text-decoration: none;
  background-color: coral;
}
.form-input::placeholder{
  color: #fff;
}
.form-input:hover {
  background-color: #fff;
}
.form-input:hover::placeholder{
  color: grey;
}

.form-input:visited{
  background-color: #fff;
}

.textarea-heading{
  color: #fff;
  font-weight: bold;
}
.textarea{
  background-color: coral;
}
.textarea:hover{
  background: #fff;
}

.Container-nav{
  height: 6em;
  width: 100%;
  margin-bottom: 5em;
  /*position: fixed;
  z-index: 1;*/

}
.nav-bar{  
  background-color: rgb(85, 85, 84);
  margin-top: 1rem;
  opacity: 0.5;
  border-radius: 2em;
}


.nav-text{
  display: inline-block;
  padding: 0;
  font-size: 21px;
  padding-left: 10px;
  padding-right: 1em;
  color: #fff;
  transition: 0.5s;
}
.nav-text:hover{
  color: #b8b4b4;
  text-decoration: none;
}
.typing{
 color :tomato;
 letter-spacing: 3px;
}
